*, *::after, *::before{
    box-sizing: border-box;
}

.clock {
    position: relative;
    width: 90px;
    height: 90px;
    background-color: none;
    border-radius: 50%;
    margin-top: 1px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tick marks replacing numbers */
.clock .tick {
    position: absolute;
    width: 3px;
    height: 5px;
    background-color: #0c502d;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%) translateY(-4px);
    border-radius: 50%;
}

.clock .tick.long {
    height: 7px;
    background-color: black;
    border-radius: 50%;
}

/* Positioning the tick marks */
.clock .tick:nth-child(1) { transform: rotate(30deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(2) { transform: rotate(60deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(3) { transform: rotate(90deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(4) { transform: rotate(120deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(5) { transform: rotate(150deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(6) { transform: rotate(180deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(7) { transform: rotate(210deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(8) { transform: rotate(240deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(9) { transform: rotate(270deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(10) { transform: rotate(300deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(11) { transform: rotate(330deg) translateX(-50%) translateY(-48px); }
.clock .tick:nth-child(12) { transform: rotate(0deg) translateX(-50%) translateY(-48px); }

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: rgb(145, 37, 37);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(var(--rotation));
    z-index: 10;
}

.clock::after {
    content: '';
    position: absolute;
    background-color: #0c502d;
    z-index: 11;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second{
    width: 2.5%;
    height: 45%;
    background-color: #0c502d;
}

.clock .hand.minute{
    width: 3.5%;
    height: 40%;
    background-color: #0c502d;
}

.clock .hand.hour{
    width: 5%;
    height: 35%;
    background-color: #0c502d;
}

.clock:hover{
    transform: translateY(-3px);  /* Lift the link on hover */
}
