body{
  background-color: rgb(220, 241, 220, 100);
}

.home-page-logo {
  font-size: 30px;
}

.home-page-logo a {
  color: black; 
  text-decoration: none;  
  font-weight: bold;
}

.nav-link {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.button-get-started {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(220, 241, 220, 100);
}

h1{
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

